.row
  .hidden-xs.hidden-sm.col-md-4.col-md-offset-1
    = image_tag "/images/secure/container-findings-detail.png", class: "hidden-xs", alt: "GitLab Container Scanning", style: "margin-top: 50px;"
  .col-xs-12.col-md-6
    %h2 Container Scanning
    %p
    %ul
      %li
        Check Docker images for known vulnerabilities in the application environment.
      %li
        Avoid redistribution of vulnerabilities via container images.
      %li
        Vulnerabilities are shown in-line with every merge request.
%hr.divider
