.row
  .hidden-xs.hidden-sm.col-lg-4.col-lg-offset-1
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/PmFFlTH2DQk", :width => "560"}
  .col-xs-12.col-md-6
    %h2 Scaled Agile Framework (SAFe) with GitLab
    %p
      See how your organization can use GitLab to build a framework using the Scaled Agile Framework (SAFe). Dive into the details around building out your Agile framework for development teams built on three pillars: Team, Program, and Portfolio.
%hr.divider
